@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  flex-direction: column;
  background-image: url(../images/art-canvas.jpg);//mobile bg home section
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 253, 253, 0.808);
}

.stripes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25px;
  height: 3px;
  margin: 5px ;
  background-color: #1a1b1b;
  transition: all 0.3s ease-in-out;
}

.hamburger {
 display: block;
 
 
}
.hamburger.active {
  display: block;
  position: absolute;
  top:0;
  right:0;
  
 }


.hamburger.active {
  display: block;
}
.hamburger.active .stripes:nth-child(1) {
  transform: translateY(8px) rotate(60deg);
  background-color: #1a1b1b;
}

.hamburger.active .stripes:nth-child(2) {
  opacity: 0;
}

.hamburger.active .stripes:nth-child(3) {
  transform: translateY(-8px) rotate(-60deg);
  background-color: #1a1b1b;
}
.menu.active {
  display: block;
  text-align: left;
  
}
.menu-items.active{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 5px;
  a{
    text-decoration: none;
    color: red;
    
  }
  .menu-item{
    margin: 20px 0;
  }
 }
 .content{
  margin-left: 10%;
}

h1 {
  font-weight: 100;
  font-size: 1.5rem;
  color: rgba(231, 19, 19, 0.76);
  margin: 1em 0;
  padding: 0 20px;
}

h2 {
  font-weight: 600;
  margin: 0.5em 0;
  font-size: 2.5rem;
  text-align: left;
  padding: 0 20px;
  background-image: url('../images/fire1.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.details {
  background-color: rgba(255, 253, 253, 0.808);
  h2 {
    font-size: 2em;
    background-image: url('../images/fire1.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  h4 {
    margin: 0;
    color: rgba(231, 19, 19, 0.76);
    font-size: 1.5em;
  }

  h5 {
    color: rgba(199, 26, 26, 0.911);
    font-size: 1em;
  }
}

.paragraph-one {
  border: 2px solid white;
  font-size: 1rem;
  background-color: rgba(156, 141, 141, 0.082);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgba(22, 16, 16, 0.76);
}

.paragraph-two {
  padding: 20px;
}

h3 {
  padding: 0 20px;
  text-align: center;
}

.card {
  background-image: url(../images/card-background.jpg);
  margin: 20px 0;
}

.card-one {
  margin-left: 20px;
}

.card-item-child {
  display: flex;
  align-items: center;
  background-color: rgba(136, 128, 128, 0.5);
  margin: 10px;
}


.heading-three-cards {
  text-align: center;
  color: white;
}

.fad {
  color: white;
  padding: 0 20px;
}

.lecture {
  color: gray;
}

.child-art {
  color: rgba(192, 5, 5, 0.856);
}

.card-paragraph {
  padding: 0 20px;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  color: rgba(231, 19, 19, 0.76);
  padding: 20px;
  color: white;
}

.featured-h3 {
  color: black;
  text-align: center;
}

.port {
  max-width: 100%;
}

.card-item-child-featured {
  display: flex;
  align-items: center;
  margin: 10px;
}

.red-paragraph {
  color: red;
  margin: 10px 0;
}

.more {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

footer {
  padding: 20px;
  background-color: rgba(6, 2, 20, 0.945);
 
  color: white;
  margin-top: 10px;
}

.footer-content{

  .logos{
      display: flex;
      justify-content: space-around;
      
    li{
      list-style: none;
     font-size: 4em;
      color: #f1f1f1;  
  
    }

  }
 
  
}

.more > * {
  margin-left: 10px;
}

.desktop {
  display: none;
}
//..............................................................................
//                 ABout.html CSS page
//..............................................................................
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  padding: 20px;

}
.detail{
  background-color: rgba(255, 253, 253, 0.808);
}

.about {
  background-image: url(../images/about-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.doll-image {
  margin: 10px 10px;
  position: relative;
}

.doll-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.5);
}

.doll-image {
  h4 {
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}


 .log.active{
  background-color: red;
 }
  nav.active {
     display: flex;
     align-items: initial;
     margin: 24px auto;
     height: 100%;
   }
   .pic{
    font-size: 39px;
    margin-top: 15px;
    color: white;
  }

//..............................................................................
//                  MEDIA QUERY
//..............................................................................

@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .hamburger {
    display: none;
  }


  .about-paragraph {
    width: 50%;
  }



  .black-background-icon {
    background-color: black;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .gray-background-icon {
    background-color: gray;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .log {
    display: flex;

    img {
      width: 20%;
    }
  }

  .whole-program {
    padding: 5%;
    text-align: center;

    a {
      color: white;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-items {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    transition: transform 250ms ease-out;
    font-size: 20pt;

    li {
      margin-right: 30px;
      padding: 10px;

      a {
        text-decoration: none;
        padding: 5px;
      }
    }
  }


  .menu-items > *:hover {
    transform: scale(2.1);
    transform-origin: center;

    a {
      color:red;
      border: 1px solid red;
    }
  }



  .icons {
    display: flex;
  }

  .icon-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: white;

    li {
      margin-right: 20px;
    }
  }

  .top-section {
    background-image: url('../images/art-canvas.jpg'); //desktop  background
    background-color: rgba(255, 253, 253, 0.808);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 253, 253, 0.808);
    
    

    h1 {
      margin-top: 1em;
      font-size: 3em;
    }

    h2 {
      width: 60%;
      margin: 5px 0;
      font-size: 4em;
    }

    .paragraph-one {
      width: 60%;
      text-align: center;
    }
  }
.card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, auto);
    gap: 2px;
    margin-top: 70px;
  }

  .card-item-child {
    margin: 0 .1px;
    display: flex;
    flex-direction: column;
  }
  .card-item-child:hover{
   border: 1px solid white;

  }
  .mains{
    transform: translate(1%, 127%);
  }
  hr{
  
     border: 0; border-top: 3px solid red;
     width: 5%;
     transform: translate(10%, 450%);

 
  }
  #Partnership{
    border: 0; border-top: 3px solid red;
    width: 5%;
    transform: translate(10%, -350%);

  }
  .car-paragraph{
    color: gray;
    font-size: 0.9em;
  }
#center{
  border: 0; border-top: 3px solid red;
  width: 5%;
  transform: translate(10%, -500%);

}
  .grid-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
    margin: 0 10%;
  }

  .portfolio {
    margin-right: 2em;
  }

  .about {
    background-image: url('../images/about-art.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }
}

//..............................................................................
//                  About page Media query
//..............................................................................
@media (min-width: 679px) {
  .about-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-section {
    p {
      width: 50%;
    }
  }
  #about-hr-line{
    border: 0; border-top: 3px solid red;    
     transform: translate(10%, 450%);

  }

  .detail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.808);

    h1 {
     
      margin-top: 1em;
      font-size: 3em;
      
      text-align: center;
      color: rgba(226, 48, 17, 0.8);
    }

    h2 {
      width: 60%;
      margin: 10px 0;
      font-size: 5em;
      text-align: center;
      background-image: url('../images/fire1.jpg');
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .paragraph-one {
      width: 60%;
    }
  }

  .red-images {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 769px) {



}
