@import url("http://fonts.cdnfonts.com/css/cocogoose");
img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  font-family: 'COCOGOOSE', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/art-canvas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 253, 253, 0.808);
}

.stripes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #1a1b1b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: block;
}

.hamburger.active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger.active .stripes:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(60deg);
          transform: translateY(8px) rotate(60deg);
  background-color: #1a1b1b;
}

.hamburger.active .stripes:nth-child(2) {
  opacity: 0;
}

.hamburger.active .stripes:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-60deg);
          transform: translateY(-8px) rotate(-60deg);
  background-color: #1a1b1b;
}

.menu.active {
  display: block;
  text-align: left;
}

.menu-items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 5px;
}

.menu-items.active a {
  text-decoration: none;
  color: red;
}

.menu-items.active .menu-item {
  margin: 10px 0;
}

.content {
  margin-left: 10%;
}

h1 {
  font-size: 1.5rem;
  color: #ec5242;
  margin: 1em 0;
  padding: 0 20px;
}

h2 {
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 2.5rem;
  text-align: left;
  padding: 0 20px;
  color: #ec5242;
}

.details {
  background-color: rgba(255, 253, 253, 0.808);
}

.details h2 {
  font-size: 3em;
  color: #ec5242;
}

.details h4 {
  margin: 0;
  color: #ec5342f5;
  font-size: 1.5em;
}

.details h5 {
  color: #ec5242;
  font-size: 1em;
}

.paragraph-one {
  border: 2px solid white;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgba(156, 141, 141, 0.082);
  font-family: 'COCOGOOSE', sans-serif;
  color: rgba(22, 16, 16, 0.76);
}

.paragraph-two {
  padding: 20px;
}

h3 {
  font-family: 'COCOGOOSE', sans-serif;
  text-align: center;
}

.card {
  background-image: url(../images/card-background.jpg);
  margin: 20px 0;
}

.card-items {
  margin: 0 5px;
}

.card-one {
  margin-left: 20px;
}

.card-one h3 {
  text-align: left;
}

.card-item-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(136, 128, 128, 0.295);
  margin: 10px;
}

.heading-three-cards {
  text-align: center;
  color: white;
}

.fad {
  color: white;
  padding: 0 20px;
}

.lecture {
  color: gray;
}

.child-art {
  color: #ec5242;
  font-style: normal;
}

.card-paragraph {
  text-align: center;
  padding: 0 15px;
  color: white;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #ec5242;
  padding: 20px;
  color: white;
}

.featured-h3 {
  color: rgba(0, 0, 0, 0.719);
  text-align: center;
}

.port {
  max-width: 100%;
}

.card-item-child-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.red-paragraph {
  color: #ec5242;
  margin: 10px 0;
}

.more {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
}

.more > * {
  margin-left: 10px;
}

.desktop,
.bottom-footer {
  display: none;
}

.portfolio::before {
  content: "";
  margin-right: 3%;
  display: block;
  position: absolute;
  background-size: cover;
  width: 20%;
  height: 20%;
  opacity: 0.9;
  background-image: url(../images/dotted.png);
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-transform: translate(-12%, -20%);
          transform: translate(-12%, -20%);
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: justify;
  padding: 20px;
  color: gray;
}

.detail {
  background-color: rgba(255, 253, 253, 0.808);
}

.about {
  background-image: url(../images/about-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.doll-image {
  margin: 10px 10px;
  position: relative;
}

.doll-image h4 {
  font-family: 'COCOGOOSE', sans-serif;
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.doll-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ec5342b2;
}

.log.active {
  background-color: #ec5242;
}

nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin: 24px auto;
  height: 100%;
}

.pic {
  font-size: 39px;
  margin: 15px 15px;
  color: white;
}

.footer-about-content {
  background-color: #272a31;
}

.footer-about-content h3 {
  color: white;
}

.footer-about-content .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-about-content .logos li {
  list-style: none;
  font-size: 4em;
  color: #f1f1f1;
}

.back {
  background-color: rgba(185, 179, 179, 0.342);
  color: rgba(0, 0, 0, 0.822);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back .fa-creative-commons {
  font-size: 30px;
}

.back h5 {
  margin: 0 15px;
}

.back .st {
  display: none;
}

@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .about-paragraph {
    width: 50%;
  }
  .gray-background-icon {
    background-color: gray;
    padding: 0;
    margin: 0;
  }
  .log {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .log img {
    width: 20%;
  }
  .whole-program {
    padding: 5%;
    text-align: center;
  }
  .whole-program a {
    color: white;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: -webkit-transform 250ms ease-out;
    transition: -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out;
    transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    font-size: 15pt;
  }
  .menu-items li {
    margin-right: 30px;
    padding: 0 5px;
  }
  .menu-items li a {
    text-decoration: none;
    padding: 5px;
    color: #1a1b1b;
  }
  .card-items {
    margin: 0 10em;
  }
  footer,
  .top-footer {
    padding: 20px;
    background-color: #272a31;
    color: white;
    margin-top: 10px;
  }
  .back {
    background-color: #272a31;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .back .fa-creative-commons {
    font-size: 30px;
  }
  .back h5 {
    display: block;
    font-size: 1em;
  }
  .back .st {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px;
    padding: 0;
  }
  .bottom-footer {
    background-color: #989ca359;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-footer .fa-creative-commons {
    font-size: 30px;
  }
  .bottom-footer h5 {
    font-size: 1em;
  }
  .bottom-footer .st {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px;
    padding: 0;
  }
  .menu-items > *:hover {
    -webkit-transform: scale(2.1);
            transform: scale(2.1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .menu-items > *:hover a {
    color: #ec5242;
    border: 1px solid red;
  }
  .icon-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    background-color: #272a31;
    color: white;
    padding: 20px 0;
  }
  .icon-items li {
    margin-right: 20px;
  }
  .footer-content .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-content .logos li {
    list-style: none;
    font-size: 4em;
    color: #f1f1f1;
  }
  .top-section {
    background-image: url("../images/art-canvas.jpg");
    background-color: rgba(255, 253, 253, 0.808);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .details {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 253, 253, 0.808);
  }
  .details h1 {
    margin-top: 1em;
    font-size: 3em;
  }
  .details h2 {
    width: 60%;
    margin: 5px 0;
    font-size: 5em;
  }
  .details .paragraph-one {
    width: 60%;
    text-align: center;
  }
  .card-grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    gap: 2px;
    margin-top: 70px;
  }
  .card-item-child {
    margin: 0 0.1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-item-child:hover {
    border: 1px solid white;
  }
  .mains {
    -webkit-transform: translate(1%, 127%);
            transform: translate(1%, 127%);
  }
  hr {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    -webkit-transform: translate(10%, 450%);
            transform: translate(10%, 450%);
  }
  #Partnership {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    -webkit-transform: translate(10%, -350%);
            transform: translate(10%, -350%);
  }
  .car-paragraph {
    color: gray;
    font-size: 0.9em;
  }
  #center {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    -webkit-transform: translate(10%, -500%);
            transform: translate(10%, -500%);
  }
  .grid-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 1px;
    margin: 0 10%;
  }
  .portfolio {
    margin-right: 3%;
  }
  .portfolio::before {
    content: "";
    margin-right: 3%;
    display: block;
    position: absolute;
    background-size: cover;
    width: 5%;
    height: 7%;
    opacity: 0.9;
    background-image: url(../images/dotted.png);
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-transform: translate(-12%, -20%);
            transform: translate(-12%, -20%);
  }
  .about {
    background-image: url("../images/about-art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

@media (min-width: 679px) {
  .about-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-section p {
    color: gray;
    width: 50%;
  }
  #about-hr-line {
    border: 0;
    border-top: 3px solid red;
    -webkit-transform: translate(10%, 450%);
            transform: translate(10%, 450%);
  }
  .detail {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 253, 253, 0.808);
  }
  .detail h1 {
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
    color: #ec5242;
  }
  .detail h2 {
    width: 60%;
    margin: 10px 0;
    font-size: 5em;
    text-align: center;
    color: #ec5242;
  }
  .detail .paragraph-one {
    width: 60%;
  }
  .red-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-footer-content .A-logo {
    font-size: 2em;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=style.css.map */