@import url('http://fonts.cdnfonts.com/css/cocogoose');

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  font-family: 'COCOGOOSE', sans-serif;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  flex-direction: column;
  background-image: url(../images/art-canvas.jpg);//mobile bg home section
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 253, 253, 0.808);
}

.stripes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #1a1b1b;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: block;
}

.hamburger.active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger.active .stripes:nth-child(1) {
  transform: translateY(8px) rotate(60deg);
  background-color: #1a1b1b;
}

.hamburger.active .stripes:nth-child(2) {
  opacity: 0;
}

.hamburger.active .stripes:nth-child(3) {
  transform: translateY(-8px) rotate(-60deg);
  background-color: #1a1b1b;
}

.menu.active {
  display: block;
  text-align: left;
}

.menu-items.active {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 5px;

  a {
    text-decoration: none;
    color: red;
  }

  .menu-item {
    margin: 10px 0;
  }
}

.content {
  margin-left: 10%;
}

h1 {
  font-size: 1.5rem;
  color: #ec5242;
  margin: 1em 0;
  padding: 0 20px;
}

h2 {
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 2.5rem;
  text-align: left;
  padding: 0 20px;
  color: #ec5242;
}

.details {
  background-color: rgba(255, 253, 253, 0.808);

  h2 {
    font-size: 3em;
    color: #ec5242;
  }

  h4 {
    margin: 0;
    color: #ec5342f5;
    font-size: 1.5em;
  }

  h5 {
    color: #ec5242;
    font-size: 1em;
  }
}

.paragraph-one {
  border: 2px solid white;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgba(156, 141, 141, 0.082);
  font-family: 'COCOGOOSE', sans-serif;
  color: rgba(22, 16, 16, 0.76);
}

.paragraph-two {
  padding: 20px;
}

h3 {
  font-family: 'COCOGOOSE', sans-serif;
  text-align: center;
}

.card {
  background-image: url(../images/card-background.jpg);
  margin: 20px 0;
}

.card-items {
  margin: 0 5px;
}

.card-one {
  margin-left: 20px;

  h3 {
    text-align: left;
  }
}

.card-item-child {
  display: flex;
  align-items: center;
  background-color: rgba(136, 128, 128, 0.295);
  margin: 10px;
}

.heading-three-cards {
  text-align: center;
  color: white;
}

.fad {
  color: white;
  padding: 0 20px;
}

.lecture {
  color: gray;
}

.child-art {
  color: #ec5242;
  font-style: normal;
}

.card-paragraph {
  text-align: center;
  padding: 0 15px;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ec5242;
  padding: 20px;
  color: white;
}

.featured-h3 {
  color: rgba(0, 0, 0, 0.719);
  text-align: center;
}

.port {
  max-width: 100%;
}

.card-item-child-featured {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.red-paragraph {
  color: #ec5242;
  margin: 10px 0;
}

.more {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.more > * {
  margin-left: 10px;
}

.desktop,
.bottom-footer {
  display: none;
}

.portfolio::before {
  content: "";
  margin-right: 3%;
  display: block;
  position: absolute;
  background-size: cover;
  width: 20%;
  height: 20%;
  opacity: 0.9;
  background-image: url(../images/dotted.png);
  background-repeat: no-repeat;
  z-index: -1;
  transform: translate(-12%, -20%);
}
//..............................................................................
//                 ABout.html CSS page
//..............................................................................
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  padding: 20px;
  color: gray;
}

.detail {
  background-color: rgba(255, 253, 253, 0.808);
}

.about {
  background-image: url(../images/about-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.doll-image {
  margin: 10px 10px;
  position: relative;

  h4 {
    font-family: 'COCOGOOSE', sans-serif;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}

.doll-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ec5342b2;
}

.log.active {
  background-color: #ec5242;
}

nav.active {
  display: flex;
  align-items: initial;
  margin: 24px auto;
  height: 100%;
}

.pic {
  font-size: 39px;
  margin: 15px 15px;
  color: white;
}

.footer-about-content {
  background-color: #272a31;

  h3 {
    color: #d3d3d3;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      list-style: none;
      font-size: 4em;
      color: #f1f1f1;
    }
  }
}

.back {
  background-color: rgba(185, 179, 179, 0.342);
  color: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-creative-commons {
    font-size: 30px;
  }

  h5 {
    margin: 0 15px;
  }

  .st {
    display: none;
  }
}

//..............................................................................
//                  MEDIA QUERY
//..............................................................................

@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .about-paragraph {
    width: 50%;
  }

  .gray-background-icon {
    background-color: gray;
    padding: 0;
    margin: 0;
  }

  .log {
    display: flex;

    img {
      width: 20%;
    }
  }

  .whole-program {
    padding: 5%;
    text-align: center;

    a {
      color: white;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-items {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    transition: transform 250ms ease-out;
    font-size: 15pt;

    li {
      margin-right: 30px;
      padding: 0 5px;

      a {
        text-decoration: none;
        padding: 5px;
        color: #1a1b1b;
      }
    }
  }

  .card-items {
    margin: 0 10em;
  }

  footer,
  .top-footer {
    padding: 20px;
    background-color: #272a31;
    color: white;
    margin-top: 10px;
  }

  .back {
    background-color: #272a31;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-creative-commons {
      font-size: 30px;
    }

    h5 {
      display: block;
      font-size: 1em;
    }

    .st {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      padding: 0;
    }
  }

  .bottom-footer {
    background-color: #989ca359;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-creative-commons {
      font-size: 30px;
    }

    h5 {
      font-size: 1em;
    }

    .st {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      padding: 0;
    }
  }

  .menu-items > *:hover {
    transform: scale(2.1);
    transform-origin: center;

    a {
      color: #ec5242;
      border: 1px solid red;
    }
  }

  .icon-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #272a31;
    color: white;
    padding: 20px 0;

    li {
      margin-right: 20px;
    }
  }

  .footer-content {
    .logos {
      display: flex;
      justify-content: space-around;

      li {
        list-style: none;
        font-size: 4em;
        color: #d3d3d3;
      }
    }
  }

  .top-section {
    background-image: url('../images/art-canvas.jpg'); //desktop  background
    background-color: rgba(255, 253, 253, 0.808);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 253, 253, 0.808);

    h1 {
      margin-top: 1em;
      font-size: 3em;
    }

    h2 {
      width: 60%;
      margin: 5px 0;
      font-size: 5em;
    }

    .paragraph-one {
      width: 60%;
      text-align: center;
    }
  }

  .card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, auto);
    gap: 2px;
    margin-top: 70px;
  }

  .card-item-child {
    margin: 0 0.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-item-child:hover {
    border: 1px solid white;
  }

  .mains {
    transform: translate(1%, 127%);
  }

  hr {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    transform: translate(10%, 450%);
  }

  #Partnership {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    transform: translate(10%, -350%);
  }

  .car-paragraph {
    color: gray;
    font-size: 0.9em;
  }

  #center {
    border: 0;
    border-top: 3px solid red;
    width: 5%;
    transform: translate(10%, -500%);
  }

  .grid-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
    margin: 0 10%;
  }

  .portfolio {
    margin-right: 3%;
  }

  .portfolio::before {
    content: "";
    margin-right: 3%;
    display: block;
    position: absolute;
    background-size: cover;
    width: 5%;
    height: 7%;
    opacity: 0.9;
    background-image: url(../images/dotted.png);
    background-repeat: no-repeat;
    z-index: -1;
    transform: translate(-12%, -20%);
  }

  .about {
    background-image: url('../images/about-art.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

//..............................................................................
//                  About page Media query
//..............................................................................
@media (min-width: 679px) {
  .about-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-section {
    p {
      color: gray;
      width: 50%;
    }
  }

  #about-hr-line {
    border: 0;
    border-top: 3px solid red;
    transform: translate(10%, 450%);
  }

  .detail {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.808);

    h1 {
      margin-top: 1em;
      font-size: 3em;
      text-align: center;
      color: #ec5242;
    }

    h2 {
      width: 60%;
      margin: 10px 0;
      font-size: 5em;
      text-align: center;
      color: #ec5242;
    }

    .paragraph-one {
      width: 60%;
    }
  }

  .red-images {
    display: flex;
    justify-content: center;
  }

  .about-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .A-logo {
      font-size: 2em;
      margin-left: 5px;
    }
  }
}
